ASAAS_API_KEY=cole_sua_chave_sandbox_aqui
ASAAS_BASE_URL=https://api-sandbox.asaas.com/v3
# Em produção use: https://api.asaas.com/v3
ASAAS_WEBHOOK_TOKEN=crie_um_token_longo_e_aleatorio_aqui

DB_HOST=localhost
DB_NAME=seu_banco
DB_USER=seu_usuario
DB_PASS=sua_senha
